@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif";
}

body {
  background: #f0f0f0;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  text-align: center;
  background: #24465a;
  max-width: 100%;
  width: 100%;
  border-bottom: solid rgb(170, 77, 77);
  color: rgb(194, 194, 194);
}
.nav {
  margin: 2px;
  margin-top: 15px;
  margin-bottom: 16px;
  width: 100%;
}

.nav a {
  border-radius: 4px;
  padding: 12px 100px;
  margin-right: 12px;
  margin-top: 2px;
}
