.Login {
  display: flex;
  flex-direction: column;
  padding: 10%;
  background-color: whitesmoke;
}
.TextBox {
  margin-bottom: 10px;
  max-width: 300px;
}
.Button {
  background: rgb(101,157,189);
  background: linear-gradient(90deg, rgba(101,157,189,0.6643032212885154) 21%, rgba(218,173,134,0.9220063025210083) 79%);
  max-width: 200px;
  margin-left: 50%;
  /* margin-top: 25px; */
}
.Text {
  color: rgba(255, 255, 255, 0.65);
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}
