.Login {
  display: flex;
  flex-direction: column;
  padding: 10%;
  background-color: whitesmoke;
}
.TextBox {
  margin-bottom: 10px;
  max-width: 300px;
}
.Button {
  background: linear-gradient(90deg, #fdbb2d 0%, #3a1c71 100%);
  max-width: 200px;
  margin-left: 50%;
  /* margin-top: 25px; */
}
.Text {
  color: #34274c;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}
